/* ========== Media =========== */

/* Small screens, under 800px width */
@media only screen and (max-width: 800px) {
	.leftNav {
		float: none;
		margin-left: 0;
	}
	.rightNav {
		float: none;
		margin-right: 0;
		display: grid;
	}
	nav ul {
		margin-left: -20px;
	}
	nav ul li div {
		text-align: center;
	}
	nav ul li div a {
		display: block;
		margin-left: 5px;
		margin-top: 5px;
		font-size: 14px;
	}
	.coolBackgroundGold {
		padding: 5px 10px 5px 10px;
		margin-right: 0;
		border-radius: 30px;
		margin-bottom: 10px;
	}
	#copyleft {
		margin: 0;
	}
	header {
		padding: 250px 0 150px 0;
	}
	#headerPart1 img {
		width: 200px;
	}
	#ytVideo {
		margin-bottom: 40px;
	}
}

/* Average/large screens, above 800px width */
@media only screen and (min-width: 801px) {
	.leftNav {
		text-align: left;
		float: left;
		margin-left: -30px;
	}
	.rightNav {
		text-align: left;
		float: right;
		margin-right: 30px;
		display: inline;
	}
	nav ul li div a {
		display: inline;
		margin-left: 30px;
		font-size: 16px;
	}
	.coolBackgroundGold {
		padding: 15px 30px 15px 30px;
		margin-right: 10px;
		border-radius: 30px;
		margin-bottom: 0;
		text-align: center;
	}
	#copyleft {
		margin: 0 0 0 20px;
	}
	header {
		padding: 150px 0;
	}
	#headerPart1 img {
		width: 300px;
	}
	#ytVideo {
		padding-bottom: 0;
	}
}


/* ========== Whole document =========== */

html {
	scroll-behavior: smooth;
	min-width: 400px;
}

body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ========== Navigation Bar =========== */

nav {
	background: rgb(44,44,129);
	background: -moz-linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	background: linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c2c81",endColorstr="#4d4dc4",GradientType=1);

	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	min-height: 70px;
	border-bottom: 3px solid #ffffff;
	z-index: 500;
}

/* Nav bar list */
nav ul {
	padding-top: 8px;
	list-style-type: none;
}

/* Nav bar list items */
nav ul li div a {
	color: white;
}

.authorText {
	font-weight: bold;
}

.authorText a {
	font-weight: normal;
}

/* Turns the copyright symbol to copyleft */
#copyleft {
	display: inline-block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: FlipH;
}

/* Default links properties */
.defaultLink, .defaultLink:visited {
	color: white;
	text-decoration: none;
}

/* Default links properties on hover */
.defaultLink:hover {
	text-decoration: underline;
}

/* The invite Rat God link in navbar */
.coolBackgroundGold {
	background: rgb(228,178,3);
	background: -moz-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: -webkit-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4b203",endColorstr="#cb7011",GradientType=1);

	font-weight: bold;
	width: 100%;
}


/* =========== Header ============ */

header {
	background: rgb(227,156,26);
	background: -moz-linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	background: -webkit-linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	background: linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e39c1a",endColorstr="#9e4b13",GradientType=1);

	min-height: 500px;
	border-bottom: 2px solid white;
	display: grid;
	text-align: center;
}

/* Header section except image */
#headerPart2 {
	margin-top: -60px;
}

/*Rat God slogan*/
#headerPart2 p {
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 20px;
}

/* The invite button on frontpage */
.coolBackgroundWhite, .coolBackgroundWhite:visited {
	background: #ffffff;
	margin-top: 30px;
	font-weight: bold;
	padding: 15px 30px 15px 30px;
	margin-right: 10px;
	border-radius: 30px;
	color: black;
	text-decoration: none;
}

/* White link properties on hover */
.coolBackgroundWhite:hover {
	text-decoration: underline;
}


/* ========== About =========== */

#about {
	background: rgb(21,21,66);
	background: -moz-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151542",endColorstr="#0a2338",GradientType=1);

	position: relative;
	width: auto;
	padding: 50px;
	border-bottom: 2px solid white;
}

#about h2 {
	text-align: center;
}

#about p {
	text-align: justify;
	max-width: 750px;
	margin: auto;
}


/* ========== Features =========== */

#features {
	background: rgb(32,32,87);
	background: -moz-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202057",endColorstr="#133d60",GradientType=1);

	position: relative;
	width: auto;
	padding: 50px;
	border-bottom: 2px solid white;
}

#features h2 {
	text-align: center;
}

/* The general info section under title */
.ulDivParent {
	text-align: center;
}

#features ul {
	display: inline-block;
	text-align: left;
}

#features table {
	margin: 0 auto;
}

#features table tr td {
	padding: 0 30px;
}

/* Gold link text */
.goldText, .goldText:visited {
	color: #e4b203;
	text-decoration: none;
}

/* Gold link text on hover */
.goldText:hover {
	text-decoration: underline;
}

/* White link text */
.whiteLinkText, .whiteLinkText:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/* White link text on hover */
.whiteLinkText:hover {
	text-decoration: underline;
}

/* Highlighted code commands */
code {
	background-color: #282b2e;
	padding: 2px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 25px;
}

/* Highlighted codeblocks */
.codeblock {
	background: rgb(40,43,46);
	background: -moz-linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	background: linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282b2e",endColorstr="#1d1f21",GradientType=1);

	width: 100%;
	padding: 5px;
	border-radius: 10px;
	font-size: 14px;
	border: 1px solid black
}


/* ========== FAQ =========== */

#faq {
	background: rgb(21,21,66);
	background: -moz-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151542",endColorstr="#0a2338",GradientType=1);

	padding: 50px 0;
	width: 100%;
	display: grid;
	border-bottom: 2px solid white;
}

#faq h2 {
	text-align: center;
}

h2 {
	font-size: 30px;
}

/* The question buttons */
.collapsible {
	background: rgb(45,48,52);
	background: -moz-linear-gradient(90deg, rgba(45,48,52,1) 0%, rgba(53,58,62,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(45,48,52,1) 0%, rgba(53,58,62,1) 100%);
	background: linear-gradient(90deg, rgba(45,48,52,1) 0%, rgba(53,58,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d3034",endColorstr="#353a3e",GradientType=1);

	width: 50%;
	margin: auto;
	color: white;
	cursor: pointer;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid black;
}

/* Question buttons on hover */
.active, .collapsible:hover {
	background-color: #232527;
}

/* Question buttons when active/clicked */
.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

/* Question buttons change symbol */
.active:after {
	content: "\2212";
}

/* Answer to questions */
.content {
	background: rgb(228,178,3);
	background: -moz-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: -webkit-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4b203",endColorstr="#cb7011",GradientType=1);

	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border-radius: 5px;
	margin: auto auto 8px auto;
	width: 50%;
	position: relative;
	box-sizing: border-box;
}

/* Div around the video answer */
.centeringContainer {
	width: 100%;
	display: grid;
}

/* Div around video answer, all children */
.centeringContainer > * {
	margin: 10px auto;
}

/* The Youtube video */
#ytVideo {
	border: 1px solid white;
	width: 100%;
	max-width: 560px;
	max-height: 315px;
}


/* ========== Contact Us =========== */

#contact {
	background: rgb(32,32,87);
	background: -moz-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202057",endColorstr="#133d60",GradientType=1);

	width: 100%;
	padding: 50px 0;
	text-align: center;
}

#contact a {
	margin: 20px 50px 100px 50px;
}

#contact a img {
	width: 40px;
	margin-bottom: 75px;
}

/* No decoration for contact-images */
#contact a:not(#backTop), #contact a:hover:not(#backTop), #contact a:visited:not(#backTop) {
	text-decoration: none;
}

#discord {
	filter: brightness(3); /* White */
	transition: filter 0.2s;
}

#discord:hover {
	filter: brightness(1); /* Blue */
	transition: filter 0.2s;
}

#github {
	filter: invert(0);  /* White */
	transition: filter 0.2s;
}

#github:hover {
	filter: invert(1);  /* Black */
	transition: filter 0.2s;
}

/* Back to top anchor link */
#backTop {
	background: rgb(45,45,47);
	background: -moz-linear-gradient(90deg, rgba(45,45,47,1) 0%, rgba(55,59,62,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(45,45,47,1) 0%, rgba(55,59,62,1) 100%);
	background: linear-gradient(90deg, rgba(45,45,47,1) 0%, rgba(55,59,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d2d2f",endColorstr="#373b3e",GradientType=1);

	padding: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	border: 2px solid black;
}
