@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); /* Roboto Slab */

@media only screen and (max-width: 800px) { /* Small res */
	.nav-small-hide { display: none; }
	nav ul {
		width: max-content;
		margin: auto;
	}
	#copyleft { margin: 0; }
	noscript { top: 160px; }
	.cool-background-gold {
		border-radius: 30px;
		padding: 8px 15px;
	}
	.legal { padding: 100px 25px; }
}

@media only screen and (min-width: 801px) { /* Average res */
	nav ul {
		width: 100%;
		margin: auto 0;
	}
	#copyleft { margin: 0 0 0 20px; }
	noscript { top: 70px; }
	.cool-background-gold {
		border-radius: 30px;
		padding: 15px 30px;
		text-align: center;
	}
	.legal { padding: 100px 200px; }
}

/* Whole document */
html {
	cursor: auto;
	min-width: 400px;
	scroll-behavior: smooth;
}

body {
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

a { cursor: pointer; }
h1 { font-size: 2em;}
h2 { margin-top: 0; }

noscript {
	background-color: #c22e32;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 10;
	padding: 5px;
}

/* Nav Bar */
nav {
	background: linear-gradient(to right, #2c2c81, #4d4dc4);
	border-bottom: 3px solid #fff;
	margin: 0;
	padding: 0;
	position: fixed;
	min-height: 70px;
	width: 100%;
	z-index: 9;
	display: flex;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 20px;
	max-width: 2000px;
	margin: auto;
}

#right-nav-li {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

nav ul li { width: max-content; }
nav ul li div { gap: 20px; }
.left-nav-div * { margin: 0; }
.right-nav-div > * { margin: 0 10px; }
.left-nav-div {
	display: flex;
	margin-right: 10px;
}

#copyleft { /* Turning copyright to copyleft */
	display: inline-block;
	transform: scaleX(-1);
}

/* Misc */
.default-link, .default-link:visited {
	color: #fff;
	text-decoration: none;
}

.default-link:hover { text-decoration: underline; }

.cool-background-gold { /* Invite link in navbar */
	background: linear-gradient(to left, #e4b203, #cb7011);
	font-weight: bold;
}

.background-1 { background: linear-gradient(to right, #151542, #0a2338); }
.background-2 { background: linear-gradient(to right, #202057, #133d60); }

.goldText, .goldText:visited {
	color: #e4b203;
	text-decoration: none;
	font-weight: bold;
}

.goldText:hover { text-decoration: underline; }

.white-link-text, .white-link-text:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.white-link-text:hover { text-decoration: underline; }

code { /* Highlighted code commands */
	background-color: #282b2e;
	border-radius: 3px;
	font-size: 14px;
	line-height: 25px;
	padding: 2px;
}
