/* ========== Fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); /* Roboto Slab */

/* ========== Media =========== */

/* Small screens */
@media only screen and (max-width: 800px) {
	.nav-small-hide {
		display: none;
	}
	nav ul {
		width: max-content;
		margin: auto auto;
	}
	noscript {
		top: 160px;
	}
	.cool-background-gold {
		border-radius: 30px;
		margin-right: 0;
		margin-bottom: 10px;
		padding: 5px 10px;
		padding: 8px 15px;
	}
	#copyleft {
		margin: 0;
	}
	header {
		padding: 200px 0 100px 0;
	}
	#header-part-1 a img {
		width: 200px;
	}
	#about, #features, #faq, #contact {
		scroll-margin-top: 100px;
	}
	#youtubeVideo {
		margin-bottom: 40px;
	}
}

/* Average/large screens */
@media only screen and (min-width: 801px) {
	nav ul {
		width: 100%;
		margin: auto 0;
	}
	noscript {
		top: 70px;
	}
	.cool-background-gold {
		border-radius: 30px;
		margin-bottom: 0;
		margin-right: 10px;
		padding: 15px 30px;
		text-align: center;
	}
	#copyleft {
		margin: 0 0 0 20px;
	}
	header {
		padding: 150px 0;
	}
	#header-part-1 a img {
		width: 300px;
	}
	#about, #features, #faq, #contact {
		scroll-margin-top: 50px;
	}
	#ytVideo {
		padding-bottom: 0;
	}
}

/* ========== Whole document =========== */
html {
	cursor: auto;
	min-width: 400px;
	scroll-behavior: smooth;
}

body {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

header, #about, #features, #faq, #contact {
	border-bottom: 2px solid white;
	position: relative;
	text-align: center;
	width: auto;
}

#about, #features, #faq, #contact {
	padding: 50px;
}

a {
	cursor: pointer;
}

/* ========== Noscript =========== */
noscript {
	background-color: #c22e32;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 10;
	padding: 5px;
}

/* ========== Navigation Bar =========== */
nav {
	background: rgb(44,44,129);
	background: -moz-linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	background: linear-gradient(90deg, rgba(44,44,129,1) 0%, rgba(77,77,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c2c81",endColorstr="#4d4dc4",GradientType=1);

	border-bottom: 3px solid #ffffff;
	margin: 0;
	padding: 0;
	position: fixed;
	min-height: 70px;
	width: 100%;
	z-index: 9;
	display: flex;
}

/* Nav bar list */
nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 20px;
	max-width: 2000px;
	margin: auto;
}

nav ul li {
	width: max-content;
}

#right-nav-li {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

nav ul li div {
	gap: 20px;
}

.left-nav-div {
	display: flex;
}

.left-nav-div * {
	margin: 0;
}

.right-nav-div * {
	margin: 0 10px;
}

/* Navbar list items */
/* Turns the copyright symbol to copyleft */
#copyleft {
	display: inline-block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: FlipH;
}

/* Default links properties */
.default-link, .default-link:visited {
	color: white;
	text-decoration: none;
}

/* Default links properties on hover */
.default-link:hover {
	text-decoration: underline;
}

/* The invite Rat God link in navbar */
.cool-background-gold {
	background: rgb(228,178,3);
	background: -moz-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: -webkit-linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	background: linear-gradient(270deg, rgba(228,178,3,1) 0%, rgba(203,112,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4b203",endColorstr="#cb7011",GradientType=1);

	font-weight: bold;
	width: 100%;
}

/* =========== Header ============ */
header {
	background: rgb(227,156,26);
	background: -moz-linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	background: -webkit-linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	background: linear-gradient(210deg, rgba(227,156,26,1) 0%, rgba(158,75,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e39c1a",endColorstr="#9e4b13",GradientType=1);

	/*https://duckduckgo.com/?q=gold+sky+wallpaper&t=ffab&iar=images&iax=images&ia=images&iai=https%3A%2F%2Fjooinn.com%2Fimages%2Fgolden-sky-5.jpg*/
	/*background-image: url("./assets/Background.jpg");*/
	min-height: 500px;
	display: grid;
	overflow-x: hidden;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header-part-1 a img {
	border: 2px ridge white;
	border-radius: 30px;
}

/* Header section except image */
#header-part-2 {
	margin-top: -60px;
}

/*Rat God slogan*/
#header-part-2 p {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	padding-bottom: 20px;
}

/* The invite button on frontpage */
.coolBackgroundWhite, .coolBackgroundWhite:visited {
	background: #ffffff;
	border-radius: 30px;
	color: black;
	font-weight: bold;
	margin-top: 30px;
	margin-right: 10px;
	padding: 15px 30px 15px 30px;
	text-decoration: none;
}

/* White link properties on hover */
.coolBackgroundWhite:hover {
	text-decoration: underline;
}

/* ========== About =========== */
#about {
	background: rgb(21,21,66);
	background: -moz-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151542",endColorstr="#0a2338",GradientType=1);

	border-bottom: 2px solid white;
	padding: 50px;
	position: relative;
	text-align: center;
	width: auto;
}

#about p {
	margin: auto;
	max-width: 750px;
	text-align: justify;
}

/* ========== Features =========== */
#features {
	background: rgb(32,32,87);
	background: -moz-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202057",endColorstr="#133d60",GradientType=1);
}

#features ul, #features ol {
	display: inline-block;
	text-align: left;
	margin-top: 0;
}

/* Gold link text */
.goldText, .goldText:visited {
	color: #E4B203;
	text-decoration: none;
	font-weight: bold;
}

/* Gold link text on hover */
.goldText:hover {
	text-decoration: underline;
}

/* White link text */
.white-link-text, .white-link-text:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/* White link text on hover */
.white-link-text:hover {
	text-decoration: underline;
}

/* Highlighted code commands */
code {
	background-color: #282b2e;
	border-radius: 3px;
	font-size: 14px;
	line-height: 25px;
	padding: 2px;
}

/* Highlighted codeblocks */
.codeblock {
	background: rgb(40,43,46);
	background: -moz-linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	background: linear-gradient(180deg, rgba(40,43,46,1) 0%, rgba(29,31,33,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282b2e",endColorstr="#1d1f21",GradientType=1);

	border: 1px solid black;
	border-radius: 10px;
	font-size: 14px;
	padding: 15px 5px;
	width: 100%;
}

/* ========== FAQ =========== */
#faq {
	background: rgb(21,21,66);
	background: -moz-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	background: linear-gradient(90deg, rgba(21,21,66,1) 0%, rgba(10,35,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151542",endColorstr="#0a2338",GradientType=1);

	border-bottom: 2px solid white;
	display: grid;
	padding: 50px 0;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 30px;
	margin-top: 0;
}

#faq-container {
	margin: auto;
	width: 50%;
}

details[open] summary ~ * {
	animation: sweep-in-left 0.2s ease-in-out;
}

@keyframes sweep-in-left {
	0% {
		filter: opacity(0);
		transform: translateX(-10px);
	}
	100% {
		filter: opacity(1);
		transform: translateX(0);
	}
}

details {
	margin-bottom: 20px;
}

summary {
	box-sizing: border-box;
	background-color: #2f3a52;
	border: none;
	border-radius: 10px;
	transition: border-radius 0.2s;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	padding: 18px;
	text-align: left;
	width: 100%;
}

summary:hover {
	background-color: #262e41;
}

.faq-active {
	background-color: #262e41;
	border-radius: 10px 10px 0 0;
}

/* Answer to questions */
.faq-answer {
	background-color: #262e41;
	padding: 5px 18px;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	margin: 0;
	border-top: 1px ridge white;
}

/* Div around the video answer */
.container-center {
	width: 100%;
	display: grid;
}

/* Div around video answer, all children */
.container-center * {
	margin: 10px auto;
}

.text-align-right {
	text-align: right;
}

/* The Youtube video */
#youtubeVideo {
	border: 2px solid white;
	border-radius: 15px;
	height: 315px;
	max-width: 560px;
	width: 100%;
}

/* ========== Contact Us =========== */
#contact {
	background: rgb(32,32,87);
	background: -moz-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	background: linear-gradient(90deg, rgba(32,32,87,1) 0%, rgba(19,61,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202057",endColorstr="#133d60",GradientType=1);

	width: 100%;
	padding: 50px 0;
	text-align: center;
}

#contact > a {
	margin: 20px 50px 100px 50px;
}

#contact a img {
	width: 40px;
	margin-bottom: 75px;
}

/* No decoration for contact-images */
#contact a:not(#backTop), #contact a:hover:not(#backTop), #contact a:visited:not(#backTop) {
	text-decoration: none;
}

#discord {
	filter: brightness(3); /* White */
	transition: filter 0.2s ease;
	cursor: pointer;
}

#discord:hover {
	filter: brightness(1); /* Blue */
	transition: filter 0.2s ease;
}

#github {
	filter: invert(0);  /* White */
	transition: filter 0.2s ease;
	cursor: pointer;
}

#github:hover {
	filter: invert(1);  /* Black */
	transition: filter 0.2s ease;
}

/* Back to top anchor link */
#to-top {
	background-color: #c04d2a;
	background-image: linear-gradient(90deg, #c04d2a 0%, #b68f1a 74%);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-flex;
	height: 40px;
	width: 150px;
	border: 2px solid #BFC0C0;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-weight: bold;
	color: black;
}

#to-top p {
	display: flex;
	transition: all 0.4s ease-out;
	color: white;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9;
}


#to-top p:hover {
	color: black;
	transition: all 0.4s ease-Out;
}

#to-top-transition {
	width: 0;
	height: 0;
	filter: opacity(0);
	left: 70px;
	top: 20px;
	transform: rotate(0deg);
	background: none;
	position: absolute;
	transition: all 0.4s ease-Out;
}

#to-top:hover #to-top-transition {
	width: 200%;
	height: 500%;
	filter: opacity(1);
	left: -70px;
	top: -70px;
	background: #BFC0C0;
	transform: rotate(80deg);
}

#discordWidget {
	border: 2px solid white;
	max-width: 350px;
	height: 500px;
	border-radius: 10px;
}

#updateDate {
	font-style: italic;
}
